<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Memo app</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1><a href="/memos">俺のメモ</a></h1>
    <%= yield %>
  </div>
</body>
</html>
