<form action="/memos/new" method="post">
  <h2>タイトル</h2>
  <div>
    <input type="text" class="form" name="title" input required>
  </div>
  <h2>内容</h2>
  <div>
    <textarea name="body" class="form body_form" input required></textarea>
  </div>
  <input type="submit" class="btn" value="保存">
</form>